/* You can add global styles to this file, and also import other style files */
@import url('https://fonts.googleapis.com/css?family=Roboto:400,500');

body, input, textarea, select {
  font-family: 'Roboto', sans-serif;
}

h1, h2, h3 {
  font-weight: 500;
}

.text-center {
  text-align: center;
}

table {
  border-collapse: collapse;
  border-spacing: unset;
}

.btn {
  cursor: pointer;
  font-weight: 400;
  text-align: center;
  white-space: nowrap;
  vertical-align: middle;
  color: #007bff;
  background-color: transparent;
  border: 1px solid #007bff;
  padding: .375rem .75rem;
  font-size: 1rem;
  line-height: 1.5;
  border-radius: .25rem;
  transition: all .15s ease-in-out;
  margin: 20px auto 5px auto;
  display: block;
}

.btn:hover {
  color: #fff;
  background-color: #007bff;
  border-color: #007bff;
}

.btn[disabled] {
  background-color: #fff;
  color: #007bff;
  border-color: #dbdbdb;
  box-shadow: none;
  opacity: .5;
  cursor: not-allowed;
}
